{"swagger":"2.0","info":{"title":"CCaaS Configuration and Data API","contact":{},"license":{}},"host":"portal.virtualacd.biz","basePath":"/api","tags":[{"name":"Scheduling API","description":"Scheduling Controller"},{"name":"Tn Manager API","description":"Assigned Dnis Controller"},{"name":"Utility API ","description":"Alert Controller"},{"name":"Campaign API","description":"Campaign Lead Controller"},{"name":"Cloud API ","description":"Cloud Route Assigned Override Controller"},{"name":"Account Integration API","description":"Account Integration Controller"},{"name":"trac-routing-rule-controller","description":"Trac Routing Rule Controller"},{"name":"Cloud API","description":"Cloud Route Assigned Destination Controller"},{"name":"Agent Reporting API","description":"Agent Report Controller"},{"name":"Reporting API","description":"Casper Report Controller"},{"name":"Scripting Studio API ","description":"Script Group Controller"},{"name":"Chat Queue API","description":"Chat Group Controller"},{"name":"Web RTC API","description":"Web RTC Endpoint Controller"},{"name":"Account API","description":"Account Aux State Controller"},{"name":"Utility API","description":"Account Caller Id Controller"},{"name":"platform-endpoint-controller","description":"Platform Endpoint Controller"},{"name":"User API","description":"Dashboard Controller"},{"name":"IVR Studio API","description":"Visual Ivr Controller"},{"name":"system-controller","description":"System Controller"},{"name":"Active Chat API","description":"Active Chat Controller"},{"name":"chat-messaging-controller","description":"Chat Messaging Controller"},{"name":"Active Call API","description":"Active Call Agent Controller"},{"name":"model-template-controller","description":"Model Template Controller"},{"name":"Api Integrity API","description":"Api Integrity Controller"},{"name":"Auth API","description":"Api Token Controller"},{"name":"Security API","description":"Security Controller"},{"name":"Survey API","description":"Survey Controller"},{"name":"Quota Management API","description":"Quota Management Controller"},{"name":"ACD API","description":"Gate Schedule Overrides Controller"},{"name":"Inbound API","description":"Gate Controller"},{"name":"Outbound Reporting API","description":"Outbound Report Controller"},{"name":"Trac API","description":"Trac Group Controller"},{"name":"Scripting Studio API","description":"Script Controller"},{"name":"Audit Log API","description":"Audit Log Controller"},{"name":"Agent API","description":"Agent Controller"},{"name":"AgentUI API","description":"Agent Auth Verify Controller"},{"name":"CHAT API","description":"Chat Queue Anip Controller"},{"name":"Internal Chat API","description":"Chat Message Controller"},{"name":"Outbound API","description":"Agent Dial Group Assignment Controller"},{"name":"etl-controller","description":"ETL Controller"},{"name":"campaign-lead-list-loader-security-key-controller","description":"Campaign Lead List Loader Security Key Controller"},{"name":"Knowledge Base API","description":"Knowledge Base Article Controller"},{"name":"Chat API","description":"Agent Chat Queue Access Controller"},{"name":"Remote HTTP API","description":"Remote Http Service Controller"},{"name":"call-recording-access-controller","description":"Call Recording Access Controller"}],"paths":{"/v1/admin/accounts":{"get":{"tags":["Account API"],"summary":"Returns a list of all accounts accessible to this user","description":"Role: USER","operationId":"getAllAccountsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Account API"],"summary":"Creates a new account","description":"Role: SUPER_USER","operationId":"createAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"account","description":"account","required":true,"schema":{"$ref":"#/definitions/Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/availableAccounts":{"get":{"tags":["Account API"],"summary":"Returns a list of all the accounts on CF-CRM that are not on the platform","description":"Permissions: SUPER_USER","operationId":"getAvailableAccountsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CFCRMAccount"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/availableAgentUserName":{"get":{"tags":["Utility API"],"summary":"Returns if agent username is available","description":"Permissions: Authenticated User","operationId":"isAgentUserNameAvailableUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userName","in":"query","description":"userName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/mainAccounts":{"get":{"tags":["Account API"],"summary":"Returns a list of main accounts","description":"Permissions: SUPER_USER","operationId":"getMainAccountsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/skillStats":{"get":{"tags":["Account API"],"summary":"Provides agent statistics based on all configured Queue group skills for the requested account ids","description":"Permissions: USER, READ on Account","operationId":"getAccountSkillStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountIds","in":"query","description":"accountIds","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccountSkillStats"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}":{"get":{"tags":["Account API"],"summary":"Returns a detail view of a single account accessible to this user","description":"Permissions: READ on Account","operationId":"getAccountUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Account API"],"summary":"Updates an account object - allows only the relevant properties to be updated","description":"Permissions: UPDATE on Account","operationId":"updateAccountUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"account","description":"account","required":true,"schema":{"$ref":"#/definitions/Account"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Account API"],"summary":"Deletes an existing account","description":"Role: SUPER_USER","operationId":"deleteAccountUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls":{"get":{"tags":["Active Call API"],"summary":"getProductActiveCalls","operationId":"getProductActiveCallsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"product","in":"query","description":"product","required":true,"type":"string","enum":["ACCOUNT","ACD","AGENT","CHAT_QUEUE","OUTBOUND","VISUAL_IVR","CLOUD_PROFILE","CLOUD_DESTINATION","TRAC_NUMBER","HTTP_SERVICES","SCRIPTING","TN_MANAGER","SURVEY","DNIS","TEAMS","KNOWLEDGE_BASE","UTILITIES"]},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActiveCall"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}],"deprecated":true}},"/v1/admin/accounts/{accountId}/activeCalls/createAdHocOutboundCall":{"post":{"tags":["Active Call API"],"summary":"Creates an ad hoc outbound call","description":"Permissions: READ on Account (Permission Override)","operationId":"createAdHocOutboundCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"campaignId","in":"query","description":"campaignId","required":true,"type":"integer","format":"int32"},{"name":"destination1","in":"query","description":"destination1","required":true,"type":"string"},{"name":"destination2","in":"query","description":"destination2","required":true,"type":"string"},{"name":"callerId","in":"query","description":"callerId","required":true,"type":"string"},{"name":"uniqueId","in":"query","description":"uniqueId","required":true,"type":"string"},{"name":"agentDestination","in":"query","description":"agentDestination","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/createManualAgentCall":{"post":{"tags":["Active Call API"],"summary":"Creates a manual agent call","description":"Permissions: READ on Account (Permission Override)","operationId":"createManualAgentCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"username","in":"query","description":"username","required":true,"type":"string"},{"name":"destination","in":"query","description":"destination","required":true,"type":"string"},{"name":"ringDuration","in":"query","description":"ringDuration","required":true,"type":"integer","format":"int32"},{"name":"callerId","in":"query","description":"callerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/findRandomCall":{"get":{"tags":["Active Call API"],"summary":"Returns a random ActiveCallListResponse record of an active or queued call for a given product or product group, on an account. When attempting to pull for a single product, include the productId query param, when pulling for a group, include the productGroupId query param. For Inbound Products, use 'ACD' as the product, and for outbound, use 'OUTBOUND'","description":"Permissions: READ on Account","operationId":"getRandomUiiForProductOrProductGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"product","in":"query","description":"product","required":true,"type":"string","enum":["ACCOUNT","ACD","AGENT","CHAT_QUEUE","OUTBOUND","VISUAL_IVR","CLOUD_PROFILE","CLOUD_DESTINATION","TRAC_NUMBER","HTTP_SERVICES","SCRIPTING","TN_MANAGER","SURVEY","DNIS","TEAMS","KNOWLEDGE_BASE","UTILITIES"]},{"name":"productId","in":"query","description":"productId","required":false,"type":"integer","format":"int32"},{"name":"productGroupId","in":"query","description":"productGroupId","required":false,"type":"integer","format":"int32"},{"name":"allowActive","in":"query","description":"allowActive","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveCallListResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/getAniFromUniqueId":{"post":{"tags":["Active Call API"],"summary":"Returns an ani from a unique id","description":"Permissions: READ on Account (Permission Override)","operationId":"getAniFromUniqueIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"callDate","in":"query","description":"callDate","required":true,"type":"string","format":"date-time"},{"name":"uniqueId","in":"query","description":"uniqueId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/getAniOrigTfnFromUniqueId":{"post":{"tags":["Active Call API"],"summary":"Returns an active call unique id from a unique id","description":"Permissions: READ on Account (Permission Override)","operationId":"getAniOrigTfnFromUniqueIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"callDate","in":"query","description":"callDate","required":true,"type":"string","format":"date-time"},{"name":"uniqueId","in":"query","description":"uniqueId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveCallUniqueId"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/list":{"get":{"tags":["Active Call API"],"summary":"Returns a listing of current active calls for a given product on an account","description":"Permissions: READ on Account","operationId":"getProductActiveCallsListRequestUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"product","in":"query","description":"product","required":true,"type":"string","enum":["ACCOUNT","ACD","AGENT","CHAT_QUEUE","OUTBOUND","VISUAL_IVR","CLOUD_PROFILE","CLOUD_DESTINATION","TRAC_NUMBER","HTTP_SERVICES","SCRIPTING","TN_MANAGER","SURVEY","DNIS","TEAMS","KNOWLEDGE_BASE","UTILITIES"]},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActiveCallListResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}":{"get":{"tags":["Active Call API"],"summary":"Returns a single active call based on its UII","description":"Permissions: READ on Account","operationId":"getActiveCallUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveCall"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/addSessionToCall":{"post":{"tags":["Active Call API"],"summary":"Provides support for adding sessions to an active call","description":"Permissions: READ on Account (Permission Override)","operationId":"addSessionToCallUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"destination","in":"query","description":"destination","required":true,"type":"string"},{"name":"sessionType","in":"query","description":"sessionType","required":true,"type":"string","enum":["MONITOR","BARGEIN","COACHING"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/dispositionCall":{"post":{"tags":["Active Call API"],"summary":"Sets the call disposition for either INBOUND or OUTBOUND calls and releases the agent from PD state","description":"Permissions: READ on Account (Permission Override)","operationId":"dispositionCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"disposition","in":"query","description":"disposition","required":true,"type":"string"},{"name":"callback","in":"query","description":"callback","required":true,"type":"boolean"},{"name":"callBackDTS","in":"query","description":"callBackDTS","required":false,"type":"string"},{"name":"notes","in":"query","description":"notes","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/hangupCall":{"post":{"tags":["Active Call API"],"summary":"Terminates an active call","description":"Permissions: READ on Account (Permission Override)","operationId":"hangupCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/hangupSession":{"post":{"tags":["Active Call API"],"summary":"Terminates an active session","description":"Permissions: READ on Account (Permission Override)","operationId":"hangupSessionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"phone","in":"query","description":"phone","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/pingCall":{"post":{"tags":["Active Call API"],"summary":"Prevents a call from moving to archived (READ-ONLY) state while pending operations need to happen","description":"Permissions: READ on Account (Permission Override)","operationId":"pingCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/requeueCall":{"post":{"tags":["Active Call API"],"summary":"Provides support to requeue an active call","description":"Permissions: READ on Account (Permission Override)","operationId":"requeueCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"gateId","in":"query","description":"gateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/toggleCallHold":{"post":{"tags":["Active Call API"],"summary":"Provides support for toggling call hold on/off for an active call - Valid state = ON|OFF","description":"Permissions: READ on Account (Permission Override)","operationId":"toggleCallRecordingUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"state","in":"query","description":"state","required":true,"type":"string","enum":["ON","OFF"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/toggleCallRecording":{"post":{"tags":["Active Call API"],"summary":"Provides support for toggling call recording on/off for an active call","description":"Permissions: READ on Account (Permission Override)","operationId":"toggleCallRecordingUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"record","in":"query","description":"record","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeCalls/{uii}/updateExternId":{"post":{"tags":["Active Call API"],"summary":"Updates external id","description":"Permissions: READ on Account (Permission Override)","operationId":"updateExternIdUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"externId","in":"query","description":"externId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeChats":{"get":{"tags":["Active Chat API"],"summary":"Returns a listing of all current active chats, optional product (CHAT_QUEUE, AGENT) and id may be used","description":"Permissions: READ on Account","operationId":"getActiveChatsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"product","in":"query","description":"product","required":false,"type":"string","enum":["ACCOUNT","ACD","AGENT","CHAT_QUEUE","OUTBOUND","VISUAL_IVR","CLOUD_PROFILE","CLOUD_DESTINATION","TRAC_NUMBER","HTTP_SERVICES","SCRIPTING","TN_MANAGER","SURVEY","DNIS","TEAMS","KNOWLEDGE_BASE","UTILITIES"]},{"name":"productId","in":"query","description":"productId","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActiveChat"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeChats/{uii}":{"get":{"tags":["Active Chat API"],"summary":"Returns a single active chat based on its UII","description":"Permissions: READ on Account","operationId":"getActiveChatByUiiUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveChat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeChats/{uii}/dispositionChat":{"post":{"tags":["Active Chat API"],"summary":"Sets the chat disposition for an active chat and removes the chat from the agent interface","description":"Permissions: READ on Account (Permission Override)","operationId":"dispositionChatUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"disposition","in":"query","description":"disposition","required":true,"type":"string"},{"name":"notes","in":"query","description":"notes","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/activeChats/{uii}/pingChat":{"post":{"tags":["Active Chat API"],"summary":"Returns a single active chat based on its UII","description":"Permissions: READ on Account (Permission Override)","operationId":"pingChatUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agent groups for an account","description":"Permissions: READ on Account, Post Filtered Results","operationId":"getAgentGroupListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"},{"name":"includePermissions","in":"query","description":"includePermissions","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentGroup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Agent API"],"summary":"Creates a single new agent group for an account","description":"Permissions: CREATE on Account","operationId":"createAgentGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"agentGroup","description":"agentGroup","required":true,"schema":{"$ref":"#/definitions/AgentGroup"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AgentGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/logoutByUsername/{username}":{"post":{"tags":["Agent API"],"summary":"Logs out a single agent by username","description":"Permissions: Authorized User, UPDATE on Agent (Permission Override)","operationId":"logoutAgentByUsernameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/setStateByUsername/{username}":{"post":{"tags":["Agent API"],"summary":"Sets an agent state by username","description":"Permissions: Authorized User, UPDATE on Agent (Permissions Override)","operationId":"updateAgentStateByUsernameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"username","in":"path","description":"username","required":true,"type":"string"},{"name":"state","in":"query","description":"state","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/updateAgentLoginDialGroup/{dialGroupId}":{"post":{"tags":["Agent API"],"summary":"Moves agents to a new dial group","description":"Authorized User, Permissions:UPDATE on Dial Group, UPDATE on Agent","operationId":"updateAgentDialGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"dialGroupId","in":"path","description":"dialGroupId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agentList","description":"agentList","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UpdateAgentLoginDialGroupResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/updateAgentLoginGates":{"post":{"tags":["Agent API"],"summary":"Handles login of agents to gates","description":"Permissions: Authorized User, UPDATE on agent and UPDATE on gate","operationId":"updateAgentGatesBatchUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"agentGateLoginRequests","description":"agentGateLoginRequests","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentGateLoginRequest"}}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/withActiveChildren":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agent groups with related data for an account","description":"Permissions: READ on Account, Post Filtered Results","operationId":"getAgentGroupListWithActiveChildrenUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"includePermissions","in":"query","description":"includePermissions","required":false,"type":"boolean","default":false},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentGroup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/withChildren":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agent groups with related data for an account","description":"Permissions: READ on Account, Post Filtered Results","operationId":"getAgentGroupListWithChildrenUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"includePermissions","in":"query","description":"includePermissions","required":false,"type":"boolean","default":false},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentGroup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agent groups for an account","description":"Permissions: READ on Gate Group","operationId":"getAgentGroupUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"includePermissions","in":"query","description":"includePermissions","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Agent API"],"summary":"Updates an agent group for an account","description":"Permissions: UPDATE on Agent Group","operationId":"updateAgentGroupUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agentGroup","description":"agentGroup","required":true,"schema":{"$ref":"#/definitions/AgentGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentGroup"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Agent API"],"summary":"Deletes an agent group for an account","description":"Permissions: DELETE on Agent Group","operationId":"deleteAgentGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agents for an agent group","description":"Permissions: READ on Agent Group, Post Filtered Results","operationId":"getListUsingGET_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Agent API"],"summary":"Creates a single agent for an agent group","description":"Permissions: CREATE on Agent Group","operationId":"createAgentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agent","description":"agent","required":true,"schema":{"$ref":"#/definitions/Agent"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Agent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Agent API"],"summary":"Updates a listing of agents for an agent group","description":"Permissions: UPDATE on Agent Group","operationId":"updateAgentUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agents","description":"agents","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}":{"get":{"tags":["Agent API"],"summary":"Returns a single agent for an agent group","description":"Permissions: READ on Agent","operationId":"getDetailUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Agent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Agent API"],"summary":"Updates a single agent for an agent group","description":"Permissions: UPDATE on Agent","operationId":"updateAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agent","description":"agent","required":true,"schema":{"$ref":"#/definitions/Agent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Agent"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Agent API"],"summary":"Deletes an agent for an agent group","description":"Permissions: DELETE on Agent","operationId":"deleteAgentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/activeCalls/{uii}/addSessionToCall":{"post":{"tags":["Active Call API"],"summary":"Provides support for adding sessions to an active call.","description":"Permissions: READ on Agent (Permission Override)","operationId":"addSessionToCallUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"destination","in":"query","description":"destination","required":true,"type":"string"},{"name":"sessionType","in":"query","description":"sessionType","required":true,"type":"string","enum":["MONITOR","BARGEIN","COACHING"]}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/agentCallTotals":{"get":{"tags":["Agent API"],"summary":"Totals up inbound and outbound daily call stats","description":"Permissions: READ on Agent","operationId":"getAgentCallStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OutboundAndInboundDailyCallData"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignChatQueues":{"put":{"tags":["Chat API"],"summary":"Assigns a listing of Chat Queues to an Agent","description":"Permissions: UPDATE on Agent and READ on Chat Queues","operationId":"assignChatQueuesToAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agentChatQueueAccesses","description":"agentChatQueueAccesses","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentChatQueueAccess"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChatQueue"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignDialGroups":{"put":{"tags":["Outbound API"],"summary":"Assigns a listing of dial groups for an agent","description":"Permissions: UPDATE on Agent and READ on Dial Groups","operationId":"assignDialGroupsToAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agentDialGroupMembers","description":"agentDialGroupMembers","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentDialGroupMember"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DialGroup"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignGates":{"put":{"tags":["Agent API"],"summary":"Assigns a gate to an agent","description":"Permissions: UPDATE on Agent and READ on Gates","operationId":"assignGatesToAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"assignmentRequest","description":"assignmentRequest","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentGateAccess"}}}],"responses":{"201":{"description":"Created","schema":{"type":"array","items":{"$ref":"#/definitions/Gate"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignSupervisees":{"put":{"tags":["Agent API"],"summary":"Assigns a listing of supervisees to an agent","description":"Permissions: UPDATE on Agent","operationId":"assignSuperviseesToAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"superviseesToAssign","description":"superviseesToAssign","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentSupervisorPK"}}}],"responses":{"201":{"description":"Created","schema":{"type":"array","items":{"$ref":"#/definitions/AgentSupervisor"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignSupervisors":{"put":{"tags":["Agent API"],"summary":"Assigns a listing of supervisors to an agent","description":"Permissions: UPDATE on Agent","operationId":"assignSupervisorsToAgentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"supervisorsToAssign","description":"supervisorsToAssign","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentSupervisorPK"}}}],"responses":{"201":{"description":"Created","schema":{"type":"array","items":{"$ref":"#/definitions/AgentSupervisor"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignedChatQueues":{"get":{"tags":["Chat API"],"summary":"Returns a listing of Chat Queues","description":"Permissions: READ on Agent","operationId":"getChatQueueFromAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ChatQueue"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignedDialGroups":{"get":{"tags":["Outbound API"],"summary":"Returns a listing of assigned dial groups for an agent","description":"Permissions: READ on Agent","operationId":"getDialGroupsFromAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DialGroup"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignedGates":{"get":{"tags":["Agent API"],"summary":"Returns a listing of all gates assigned to an agent","description":"Permissions: READ on Agent","operationId":"getGatesAssignedToAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Gate"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignedSupervisees":{"get":{"tags":["Agent API"],"summary":"Returns a listing of supervisees for an agent","description":"Permissions: READ on Agent","operationId":"getSuperviseesForAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/assignedSupervisors":{"get":{"tags":["Agent API"],"summary":"Returns a listing of assigned supervisors for an agent","description":"Permissions: READ on Agent","operationId":"getSupervisorsForAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/availableSkills":{"get":{"tags":["Agent API"],"summary":"Returns a listing of skill profiles for an agent","description":"Permissions: READ on Agent","operationId":"getGroupSkillsForProfileDepricatedUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"product","in":"query","description":"product","required":false,"type":"string","default":"GATE","enum":["CHAT","GATE"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}],"deprecated":true}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/availableUserNames":{"get":{"tags":["Agent API"],"summary":"Returns a payload to indicate if a user name is available","description":"Permissions: READ on Agent","operationId":"isUserNameTakenUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"username","in":"query","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/clone":{"post":{"tags":["Agent API"],"summary":"Create a new agent from an existing agent","description":"Permissions: READ on Agent (Permission Override)","operationId":"cloneAgentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"newAgentUserName","in":"query","description":"newAgentUserName","required":true,"type":"string"},{"name":"newPassword","in":"query","description":"newPassword","required":true,"type":"string"},{"name":"newEmail","in":"query","description":"newEmail","required":false,"type":"string"},{"name":"newLastName","in":"query","description":"newLastName","required":false,"type":"string"},{"name":"newFirstName","in":"query","description":"newFirstName","required":false,"type":"string"},{"name":"newAgentGroupId","in":"query","description":"newAgentGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Agent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/debugEmail":{"post":{"tags":["Agent API"],"summary":"Updates the queue rank for a logged in agent","description":"Permissions: Authorized User, READ on Agent (Permission Override)","operationId":"requestAgentDebugEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"emailTo","in":"query","description":"emailTo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/loadBalancing/assignAgents":{"put":{"tags":["Agent API"],"summary":"Assigns a listing of slave agents to an agent","description":"Permissions: UPDATE on Agent","operationId":"assignSlavesAgentsUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"agentLoadBalanceMemberPKs","description":"agentLoadBalanceMemberPKs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AgentLoadBalanceMemberPK"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/loadBalancing/assignedAgents":{"get":{"tags":["Agent API"],"summary":"Returns a listing of assigned slave agents","description":"Permissions: READ on Agent, Post Filtered Results","operationId":"getAssignedSlaveAgentsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/loadBalancing/enabledAgents":{"get":{"tags":["Agent API"],"summary":"Returns a lost of load balance enabled agnets for an agent group","description":"Permissions: READ on Agent, Post Filtered Results","operationId":"getLoadBalanceEnabledAgentsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"maxRows","in":"query","description":"maxRows","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/loadBalancing/unassignAgent/{slaveAgentId}":{"delete":{"tags":["Agent API"],"summary":"Unassigns a listing of slave agents to an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"unassignSlavesAgentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"slaveAgentId","in":"path","description":"slaveAgentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/loggedInGates":{"get":{"tags":["Agent Reporting API"],"summary":"Returns a listing of all gates that an agent has access to - this includes data to indicate if an agent is currently logged into the gate","description":"Permissions: READ on Account and Read on Gate, Post Filtered Results","operationId":"getGatesAgentIsLoggedIntoUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentsLoggedInGatesView"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/login":{"get":{"tags":["Agent API"],"summary":"gets an agent login for an agent","description":"Permissions: READ on Agent","operationId":"getAgentLoginUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentLogin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Agent API"],"summary":"Logs in a single agent for an agent group","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"loginGhostAgentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"loginRequest","description":"loginRequest","required":true,"schema":{"$ref":"#/definitions/AgentLoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentLogin"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/logout":{"post":{"tags":["Agent API"],"summary":"Logs out a single agent by id","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"logoutAgentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/moveToGroup":{"post":{"tags":["Agent API"],"summary":"Move an existing agent to a new existing agent group","description":"Permissions: UPDATE on Agent (Permission Override) and CREATE on new Agent Group (Permission Override)","operationId":"moveAgentToGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"newAgentGroupId","in":"query","description":"newAgentGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/recordOffhook":{"post":{"tags":["Agent API"],"summary":"Records an offhook session for an agent","description":"Permissions: UPDATE on Agent","operationId":"recordOffhookSessionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"duration","in":"query","description":"duration","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/setAgentState":{"post":{"tags":["Agent API"],"summary":"Updates the state of an agent","description":"Permissions: Authorized User, UPDATE on Agent (Permission Override)","operationId":"updateAgentStateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"state","in":"query","description":"state","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/skillProfiles":{"get":{"tags":["Agent API"],"summary":"Returns a listing of agent skill profiles for an agent","description":"Permissions: READ on Agent","operationId":"getSkillProfilesForAgentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentSkillProfile"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Agent API"],"summary":"Creates a new agent skill profile for an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"createAgentProfileSkillUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"groupSkillIds","in":"query","description":"groupSkillIds","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"in":"body","name":"agentSkillProfile","description":"agentSkillProfile","required":true,"schema":{"$ref":"#/definitions/AgentSkillProfile"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AgentSkillProfile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/skillProfiles/{skillProfileId}":{"get":{"tags":["Agent API"],"summary":"Returns a skill profile object for the given agent","description":"Permissions: READ on Agent","operationId":"getSkillProfileUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentSkillProfile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Agent API"],"summary":"Updates an agent skill profile for an agent","description":"Permissions: UPDATE on Agent","operationId":"updateAgentProfileSkillUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"groupSkillIds","in":"query","description":"groupSkillIds","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"in":"body","name":"agentSkillProfile","description":"agentSkillProfile","required":true,"schema":{"$ref":"#/definitions/AgentSkillProfile"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgentSkillProfile"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Agent API"],"summary":"Deletes an agent skill profile for an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"deleteAgentSkillProfileUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/skillProfiles/{skillProfileId}/skills":{"get":{"tags":["Agent API"],"summary":"Returns a listing of skill profiles for an agent","description":"Permissions: READ on Agent","operationId":"getGroupSkillsForProfileUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"product","in":"query","description":"product","required":false,"type":"string","default":"GATE","enum":["CHAT","GATE"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Agent API"],"summary":"Assigns an Agent Skill to a Profile","description":"Permissions: UPDATE on Agent","operationId":"assignAgentSkillsToProfileUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"skillIds","in":"query","description":"skillIds","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"product","in":"query","description":"product","required":false,"type":"string","default":"GATE","enum":["CHAT","GATE"]}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AgentSkillProfile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/skillProfiles/{skillProfileId}/skills/{skillId}":{"put":{"tags":["Agent API"],"summary":"Assigns an agent skill profile to an agent","description":"Permissions: UPDATE on Agent","operationId":"assignAgentSkillToProfileUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"skillId","in":"path","description":"skillId","required":true,"type":"integer","format":"int32"},{"name":"product","in":"query","description":"product","required":false,"type":"string","default":"GATE","enum":["CHAT","GATE"]}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/AgentSkillProfile"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Agent API"],"summary":"Removes a skill from an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"removeAssignedAgentSkillUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"skillProfileId","in":"path","description":"skillProfileId","required":true,"type":"integer","format":"int32"},{"name":"skillId","in":"path","description":"skillId","required":true,"type":"integer","format":"int32"},{"name":"product","in":"query","description":"product","required":false,"type":"string","default":"GATE","enum":["CHAT","GATE"]}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/unassignChatQueues/{chatQueueId}":{"delete":{"tags":["Chat API"],"summary":"Unassigns a listing of Dial Groups to an Agent","description":"Permissions: UPDATE on Agent (Permission Override) and READ on Chat Queue","operationId":"unassignChatQueuesFromAgentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"chatQueueId","in":"path","description":"chatQueueId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/unassignDialGroups/{dialGroupId}":{"delete":{"tags":["Outbound API"],"summary":"Unassigns a listing of dial groups from an agent","description":"Permissions: UPDATE on Agent (Permission Override) and READ on Dial Group","operationId":"unassignDialGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"dialGroupId","in":"path","description":"dialGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/unassignGate/{gateId}":{"delete":{"tags":["Agent API"],"summary":"Unassign a gate from an agent","description":"Permissions: UPDATE on Agent and READ on Gate (Permission Override)","operationId":"unassignGatesUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"gateId","in":"path","description":"gateId","required":true,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/unassignSupervisee/{superviseeId}":{"delete":{"tags":["Agent API"],"summary":"Unassigns a a supervisee from an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"unassignSuperviseeFromAgentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"superviseeId","in":"path","description":"superviseeId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/unassignSupervisor/{supervisorId}":{"delete":{"tags":["Agent API"],"summary":"Unassigns a supervisor from an agent","description":"Permissions: UPDATE on Agent (Permission Override)","operationId":"unassignSupervisorFromAgentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"supervisorId","in":"path","description":"supervisorId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/agents/{agentId}/updateAgentQueueRank":{"post":{"tags":["Agent API"],"summary":"Updates the queue rank for a logged in agent","description":"Permissions: Authorized User, UPDATE on Agent (Permission Override)","operationId":"updateAgentQueueRankUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"agentId","in":"path","description":"agentId","required":true,"type":"integer","format":"int32"},{"name":"gateId","in":"query","description":"gateId","required":true,"type":"integer","format":"int32"},{"name":"agentRank","in":"query","description":"agentRank","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/default":{"put":{"tags":["Agent API"],"summary":"Updates an agent group to the default group on the account","description":"Permissions: UPDATE on Agent Group","operationId":"updateDefaultAgentGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentGroups/{agentGroupId}/gateGroups/{gateGroupId}/gates/{gateId}":{"get":{"tags":["Agent Reporting API"],"summary":"Returns the count of agents in an agentGroup logged into a Queue ","description":"Permissions: READ on Account, READ on requested Gate","operationId":"getLoggedInAgentsByAgentGroupPerQueueUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"agentGroupId","in":"path","description":"agentGroupId","required":true,"type":"integer","format":"int32"},{"name":"gateGroupId","in":"path","description":"gateGroupId","required":true,"type":"integer","format":"int32"},{"name":"gateId","in":"path","description":"gateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agentLogins":{"get":{"tags":["Agent Reporting API"],"summary":"Returns a listing of all agent logins for the given product","description":"Permissions: READ on Account, READ on Agent, Post Filtered Results","operationId":"getAgentLoginsForProductUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"product","in":"query","description":"product","required":true,"type":"string","enum":["ACCOUNT","ACD","AGENT","CHAT_QUEUE","OUTBOUND","VISUAL_IVR","CLOUD_PROFILE","CLOUD_DESTINATION","TRAC_NUMBER","HTTP_SERVICES","SCRIPTING","TN_MANAGER","SURVEY","DNIS","TEAMS","KNOWLEDGE_BASE","UTILITIES"]},{"name":"productId","in":"query","description":"productId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentLoginProductView"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/agents/loggedInAgents":{"get":{"tags":["Agent Reporting API"],"summary":"Returns all agents that are currently logged in for an account","description":"Permissions: READ on Account and Read on Agent","operationId":"getLoggedInAgentsForAccountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgentLogin"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/auxStates":{"get":{"tags":["Account API"],"summary":"Returns all of the account aux states for an account","description":"Permissions: READ on Account","operationId":"getListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccountAuxState"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Account API"],"summary":"Creates a single account aux state","description":"Permissions: Update on Account (Permission Override)","operationId":"createAccountAuxStateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"accountAuxState","description":"accountAuxState","required":true,"schema":{"$ref":"#/definitions/AccountAuxState"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountAuxState"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/auxStates/{stateId}":{"get":{"tags":["Account API"],"summary":"Returns a single account aux state for an account","description":"Permissions: READ on Account","operationId":"getStateUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"stateId","in":"path","description":"stateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountAuxState"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"put":{"tags":["Account API"],"summary":"Updates a single account aux state","description":"Permissions: Update on Account","operationId":"updateAccountAuxStateUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"stateId","in":"path","description":"stateId","required":true,"type":"integer","format":"int32"},{"in":"body","name":"accountAuxState","description":"accountAuxState","required":true,"schema":{"$ref":"#/definitions/AccountAuxState"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountAuxState"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"delete":{"tags":["Account API"],"summary":"Deletes a single account aux state","description":"Permissions: Update on Account (Permission Override)","operationId":"deleteAccountAuxStateUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"stateId","in":"path","description":"stateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/availableExtensions":{"get":{"tags":["Account API"],"summary":"Checks to see if a direct extension is available on a given account","description":"Permissions: READ on Account","operationId":"isDirectExtensionAvailableUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"extension","in":"query","description":"extension","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/baseAgentStates":{"get":{"tags":["Account API"],"summary":"Returns all of the account aux states for an account","description":"Permissions: READ on Account","operationId":"getListUsingGET_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BaseAgentState"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/callHistory/{uii}":{"get":{"tags":["Reporting API"],"summary":"Returns an active call history based on its UII","description":"Permissions: READ on Account","operationId":"getActiveCallHistoryUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"uii","in":"path","description":"uii","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveCallHistory"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]}},"/v1/admin/accounts/{accountId}/callerIdBuckets":{"get":{"tags":["Outbound API"],"summary":"Returns a listing of caller-id buckets by account","description":"Permissions: READ on Account, Outbound","operationId":"getCallerIdBucketsByAccountUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"isActive","in":"query","description":"isActive","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CallerIdBucket"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}]},"post":{"tags":["Outbound API"],"summary":"Initializes a new Caller-ID Bucket","description":"Permissions: Super-User Only","operationId":"createNewCallerIdBucketUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"callerIdBucket","description":"callerIdBucket","required":true,"schema":{"$ref":"#/definitions/CallerIdBucket"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CallerIdBucket"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"global":["global"]}
[...]
