{
  "swagger": "2.0",
  "info": {
    "title": "Aha.io API",
    "description": "Articles that matter on social publishing platform",
    "version": "1.0.0"
  },
  "host": "ringcentral.aha.io",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/features": {
      "get": {
        "summary": "Get all features",
        "description": "Get all features",
        "tags": [
          "Features"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sub-string to match against feature name or ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "assigned_to_user",
            "in": "query",
            "description": "Search features by assignee",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Search features by tag",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "UTC timestamp (in ISO8601 format) that the updated_at field must be larger than.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A specific page of results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of features",
            "schema": {
              "type": "object",
              "properties": {
                "features": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "reference_num": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "due_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string"
                      },
                      "resource": {
                        "type": "string"
                      },
                      "initiative": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "resource": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "total_records": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/features/{id}": {
      "get": {
        "summary": "Get a specific feature",
        "description": "Get a specific feature",
        "tags": [
          "Features"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID, or key of the feature to be retrieved",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Information for a specific release",
            "schema": {
              "type": "object",
              "properties": {
                "feature": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "reference_num": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "url": {
                      "type": "string"
                    },
                    "resource": {
                      "type": "string"
                    },
                    "initiative": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "resource": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/releases/{releaseId}/features": {
      "post": {
        "summary": "Create a feature",
        "description": "Create a feature",
        "tags": [
          "Features"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "The id of the release being added to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "feature",
            "description": "Feature to create",
            "schema": {
              "type": "object",
              "required": [
                "release_id",
                "name",
                "workflow_kind",
                "workflow_status"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "reference_num": {
                  "type": "string"
                },
                "release_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "workflow_kind": {
                  "type": "string"
                },
                "workflow_status": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "description": {
                  "type": "string"
                },
                "created_by": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "assigned_to_user": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "tags": {
                  "type": "string"
                },
                "original_estimate_text": {
                  "type": "string"
                },
                "remaining_estimate_text": {
                  "type": "string"
                },
                "original_estimate": {
                  "type": "string"
                },
                "remaining_estimate": {
                  "type": "string"
                },
                "start_date": {
                  "type": "string",
                  "format": "date"
                },
                "due_date": {
                  "type": "string",
                  "format": "date"
                },
                "release_phase": {
                  "type": "string"
                },
                "initiative": {
                  "type": "string"
                },
                "master_feature": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The feature that was created",
            "schema": {
              "type": "object",
              "properties": {
                "feature": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "reference_num": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "due_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "url": {
                      "type": "string"
                    },
                    "resource": {
                      "type": "string"
                    },
                    "initiative": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "resource": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/releases": {
      "get": {
        "summary": "Releases API",
        "description": "Create a release",
        "tags": [
          "Releases"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The id of the company being queried",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of topic objects within a data envelope.",
            "schema": {
              "type": "object",
              "properties": {
                "releases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for the release."
                      },
                      "reference_num": {
                        "type": "string",
                        "description": "Release referenence number."
                      },
                      "name": {
                        "type": "string",
                        "description": "Release name."
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date",
                        "description": "Start date in YYYY-MM-DD format."
                      },
                      "release_date": {
                        "type": "string",
                        "format": "date",
                        "description": "Release date in YYYY-MM-DD format."
                      },
                      "released": {
                        "type": "boolean"
                      },
                      "parking_lot": {
                        "type": "boolean"
                      },
                      "url": {
                        "type": "string",
                        "description": "Web URL for release."
                      },
                      "resource": {
                        "type": "string",
                        "description": "API URL for release."
                      }
                    }
                  }
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "total_records": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/releases/{id}": {
      "get": {
        "summary": "",
        "description": "Get a specific release",
        "tags": [
          "Releases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID, or key of the release to be retrieved",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Information for a specific release",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "A unique identifier for the release."
                },
                "reference_num": {
                  "type": "string",
                  "description": "Release referenence number."
                },
                "name": {
                  "type": "string",
                  "description": "Release name."
                },
                "start_date": {
                  "type": "string",
                  "format": "date",
                  "description": "Start date in YYYY-MM-DD format."
                },
                "release_date": {
                  "type": "string",
                  "format": "date",
                  "description": "Release date in YYYY-MM-DD format."
                },
                "released": {
                  "type": "boolean"
                },
                "parking_lot": {
                  "type": "boolean"
                },
                "url": {
                  "type": "string",
                  "description": "Web URL for release."
                },
                "resource": {
                  "type": "string",
                  "description": "API URL for release."
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Features": {
      "type": "object",
      "properties": {
        "features": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "reference_num": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "due_date": {
                "type": "string",
                "format": "date-time"
              },
              "start_date": {
                "type": "string",
                "format": "date-time"
              },
              "url": {
                "type": "string"
              },
              "resource": {
                "type": "string"
              },
              "initiative": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "pagination": {
          "type": "object",
          "properties": {
            "total_records": {
              "type": "integer",
              "format": "int64"
            },
            "total_pages": {
              "type": "integer",
              "format": "int64"
            },
            "current_page": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "FeatureResponse": {
      "type": "object",
      "properties": {
        "feature": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "reference_num": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "due_date": {
              "type": "string",
              "format": "date-time"
            },
            "start_date": {
              "type": "string",
              "format": "date-time"
            },
            "url": {
              "type": "string"
            },
            "resource": {
              "type": "string"
            },
            "initiative": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "resource": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    },
    "Releases": {
      "type": "object",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "A unique identifier for the release."
              },
              "reference_num": {
                "type": "string",
                "description": "Release referenence number."
              },
              "name": {
                "type": "string",
                "description": "Release name."
              },
              "start_date": {
                "type": "string",
                "format": "date",
                "description": "Start date in YYYY-MM-DD format."
              },
              "release_date": {
                "type": "string",
                "format": "date",
                "description": "Release date in YYYY-MM-DD format."
              },
              "released": {
                "type": "boolean"
              },
              "parking_lot": {
                "type": "boolean"
              },
              "url": {
                "type": "string",
                "description": "Web URL for release."
              },
              "resource": {
                "type": "string",
                "description": "API URL for release."
              }
            }
          }
        },
        "pagination": {
          "type": "object",
          "properties": {
            "total_records": {
              "type": "integer",
              "format": "int64"
            },
            "total_pages": {
              "type": "integer",
              "format": "int64"
            },
            "current_page": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "Pagination": {
      "type": "object",
      "properties": {
        "total_records": {
          "type": "integer",
          "format": "int64"
        },
        "total_pages": {
          "type": "integer",
          "format": "int64"
        },
        "current_page": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "WorkflowStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Feature": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "reference_num": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "due_date": {
          "type": "string",
          "format": "date-time"
        },
        "start_date": {
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "initiative": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "url": {
              "type": "string"
            },
            "resource": {
              "type": "string"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            }
          }
        }
      }
    },
    "Initiative": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Release": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique identifier for the release."
        },
        "reference_num": {
          "type": "string",
          "description": "Release referenence number."
        },
        "name": {
          "type": "string",
          "description": "Release name."
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "description": "Start date in YYYY-MM-DD format."
        },
        "release_date": {
          "type": "string",
          "format": "date",
          "description": "Release date in YYYY-MM-DD format."
        },
        "released": {
          "type": "boolean"
        },
        "parking_lot": {
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Web URL for release."
        },
        "resource": {
          "type": "string",
          "description": "API URL for release."
        }
      }
    }
  }
}