{
  "swagger": "2.0",
  "info": {
    "version": "v2.2",
    "title": "Insightly API v2.2"
  },
  "host": "api.insight.ly",
  "basePath": "/v2.2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ActivitySets": {
      "get": {
        "tags": [
          "ActivitySets"
        ],
        "summary": "Gets a list of Activity Sets",
        "operationId": "GetActivitySets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "brief",
            "in": "query",
            "description": "Optional, true if response should only contain top level properties of the activity set.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of activity sets to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of activity sets to return in the response.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "Optional, true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "ActivitySet",
                "type": "object",
                "properties": {
                  "ACTIVITYSET_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "NAME": {
                    "type": "string"
                  },
                  "FOR_CONTACTS": {
                    "type": "boolean"
                  },
                  "FOR_ORGANISATIONS": {
                    "type": "boolean"
                  },
                  "FOR_OPPORTUNITIES": {
                    "type": "boolean"
                  },
                  "FOR_PROJECTS": {
                    "type": "boolean"
                  },
                  "FOR_LEADS": {
                    "type": "boolean"
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "ACTIVITIES": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIActivity"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          }
        },
        "deprecated": false
      }
    },
    "/ActivitySets/{id}": {
      "get": {
        "tags": [
          "ActivitySets"
        ],
        "summary": "Gets a single Activity Set",
        "operationId": "GetActivitySet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "An Activity Set's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "title": "ActivitySet",
              "type": "object",
              "properties": {
                "ACTIVITYSET_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "NAME": {
                  "type": "string"
                },
                "FOR_CONTACTS": {
                  "type": "boolean"
                },
                "FOR_ORGANISATIONS": {
                  "type": "boolean"
                },
                "FOR_OPPORTUNITIES": {
                  "type": "boolean"
                },
                "FOR_PROJECTS": {
                  "type": "boolean"
                },
                "FOR_LEADS": {
                  "type": "boolean"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "ACTIVITIES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIActivity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Activity Set not found."
          }
        },
        "deprecated": false
      }
    },
    "/Comments/{id}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Gets a Comment",
        "operationId": "GetComment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Comments's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "title": "Comment",
              "type": "object",
              "properties": {
                "COMMENT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "BODY": {
                  "type": "string"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "NOTE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "EMAIL_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "TASK_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Invalid api key provided."
          },
          "403": {
            "description": "API User does not have access to Comment."
          },
          "404": {
            "description": "Comment not found."
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Deletes a Comment",
        "operationId": "DeleteComment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Comment's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Invalid api key provided."
          },
          "403": {
            "description": "API User does not have access to Comment."
          },
          "404": {
            "description": "Comment not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Comments": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Updates a Comment",
        "operationId": "UpdateComment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "apiComment",
            "in": "body",
            "description": "The Comment to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIComment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment updated.",
            "schema": {
              "title": "Comment",
              "type": "object",
              "properties": {
                "COMMENT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "BODY": {
                  "type": "string"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "NOTE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "EMAIL_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "TASK_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Invalid api key provided."
          },
          "403": {
            "description": "API User does not have access to Comment."
          },
          "404": {
            "description": "Comment not found."
          }
        },
        "deprecated": false
      }
    },
    "/Comments/{id}/FileAttachments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Gets a Comments's File Attachments",
        "operationId": "GetFileAttachments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Comments's ID (COMMENT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "updated_after_utc",
            "in": "query",
            "description": "Optional, earliest date when file attachment was last updated.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of file attachments to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of file attachments to return in the response.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "FileAttachment",
                "required": [
                  "FILE_NAME",
                  "CONTENT_TYPE"
                ],
                "type": "object",
                "properties": {
                  "FILE_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "FILE_NAME": {
                    "maxLength": 500,
                    "minLength": 0,
                    "type": "string"
                  },
                  "CONTENT_TYPE": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "FILE_SIZE": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "FILE_CATEGORY_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "DATE_CREATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "DATE_UPDATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "URL": {
                    "maxLength": 500,
                    "minLength": 0,
                    "type": "string"
                  },
                  "CAN_EDIT": {
                    "type": "boolean"
                  },
                  "CAN_DELETE": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Invalid api key provided."
          },
          "403": {
            "description": "API User does not have access to Comment."
          },
          "404": {
            "description": "Comment not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Adds a File Attachment to a Comment",
        "operationId": "AddFileAttachment",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File and metadata to be attached to Comment",
            "required": true,
            "schema": {},
            "type": "file"
          },
          {
            "name": "file_name",
            "in": "formData",
            "type": "string",
            "maxLength": 500
          },
          {
            "name": "content_type",
            "in": "formData",
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "file_category_id",
            "in": "formData",
            "type": "integer"
          }
        ],
        "responses": {
          "201": {
            "description": "File Attachment added.",
            "schema": {
              "title": "FileAttachment",
              "required": [
                "FILE_NAME",
                "CONTENT_TYPE"
              ],
              "type": "object",
              "properties": {
                "FILE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "FILE_NAME": {
                  "maxLength": 500,
                  "minLength": 0,
                  "type": "string"
                },
                "CONTENT_TYPE": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "FILE_SIZE": {
                  "format": "int64",
                  "type": "integer"
                },
                "FILE_CATEGORY_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "URL": {
                  "maxLength": 500,
                  "minLength": 0,
                  "type": "string"
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Invalid api key provided."
          },
          "402": {
            "description": "Record or storage limit reached."
          },
          "403": {
            "description": "API User does not have access to Comment."
          },
          "404": {
            "description": "Comment not found."
          },
          "417": {
            "description": "File Attachment insert failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/Search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a filtered list of Contacts.",
        "description": "Only one optional parameter (excluding brief, top, skip and count_total) can be specified. Simple object graphs (excluding ADDRESSES, CONTACTINFOS, etc.) are returned if \"brief=true\" is used in the query string.",
        "operationId": "GetContactsBySearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Optional, email address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Optional, a single tag. Performs an exact match.",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Optional, phone number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Optional, first name of the contact.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Optional, last name of the contact.",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Optional, name of the city from contact address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Optional, state from the contact address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Optional, postal code from the contact address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Optional, name of the country from contact address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "organisation",
            "in": "query",
            "description": "Optional, name of the default organisation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_after_utc",
            "in": "query",
            "description": "Optional, earliest date when contact was last updated.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "brief",
            "in": "query",
            "description": "Optional, true if response should only contain top level properties of the contact.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of contacts to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of contacts to return in the response.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "Optional, true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "Contact",
                "type": "object",
                "properties": {
                  "CONTACT_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "SALUTATION": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "FIRST_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "LAST_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "BACKGROUND": {
                    "maxLength": 4000,
                    "minLength": 0,
                    "type": "string"
                  },
                  "IMAGE_URL": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "DEFAULT_LINKED_ORGANISATION": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "DATE_CREATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "DATE_UPDATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "VISIBLE_TO": {
                    "type": "string"
                  },
                  "VISIBLE_TEAM_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "VISIBLE_USER_IDS": {
                    "type": "string"
                  },
                  "CUSTOMFIELDS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APICustomField"
                    }
                  },
                  "ADDRESSES": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIAddress"
                    }
                  },
                  "CONTACTINFOS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactInfo"
                    }
                  },
                  "DATES": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactDate"
                    }
                  },
                  "TAGS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APITag"
                    }
                  },
                  "LINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APILink"
                    }
                  },
                  "CONTACTLINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactLink"
                    }
                  },
                  "CAN_EDIT": {
                    "type": "boolean"
                  },
                  "CAN_DELETE": {
                    "type": "boolean"
                  },
                  "SOCIAL_LINKEDIN": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SOCIAL_FACEBOOK": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SOCIAL_TWITTER": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "ASSISTANT_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a list of Contacts.",
        "description": "Simple object graphs (excluding ADDRESSES, CONTACTINFOS, etc.) are returned if \"brief=true\" is used in the query string.",
        "operationId": "GetContacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "brief",
            "in": "query",
            "description": "Optional, true if response should only contain top level properties of the contact.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of contacts to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of contacts to return in the response.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "Optional,true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "Contact",
                "type": "object",
                "properties": {
                  "CONTACT_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "SALUTATION": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string"
                  },
                  "FIRST_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "LAST_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "BACKGROUND": {
                    "maxLength": 4000,
                    "minLength": 0,
                    "type": "string"
                  },
                  "IMAGE_URL": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "DEFAULT_LINKED_ORGANISATION": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "DATE_CREATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "DATE_UPDATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "VISIBLE_TO": {
                    "type": "string"
                  },
                  "VISIBLE_TEAM_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "VISIBLE_USER_IDS": {
                    "type": "string"
                  },
                  "CUSTOMFIELDS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APICustomField"
                    }
                  },
                  "ADDRESSES": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIAddress"
                    }
                  },
                  "CONTACTINFOS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactInfo"
                    }
                  },
                  "DATES": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactDate"
                    }
                  },
                  "TAGS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APITag"
                    }
                  },
                  "LINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APILink"
                    }
                  },
                  "CONTACTLINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIContactLink"
                    }
                  },
                  "CAN_EDIT": {
                    "type": "boolean"
                  },
                  "CAN_DELETE": {
                    "type": "boolean"
                  },
                  "SOCIAL_LINKEDIN": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SOCIAL_FACEBOOK": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "SOCIAL_TWITTER": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "ASSISTANT_NAME": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Contact",
        "description": "If you have trouble updating a contact, try accessing the contact via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.",
        "operationId": "UpdateContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "apiContact",
            "in": "body",
            "description": "A Contact, just include the JSON object as the request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContact"
            }
          },
          {
            "name": "brief",
            "in": "query",
            "description": "Optional, true if you wish to do a partial update containing only top level properties of the Contact. When true, all sub-collections are ignored.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Contact updated.",
            "schema": {
              "title": "Contact",
              "type": "object",
              "properties": {
                "CONTACT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SALUTATION": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "FIRST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "LAST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BACKGROUND": {
                  "maxLength": 4000,
                  "minLength": 0,
                  "type": "string"
                },
                "IMAGE_URL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DEFAULT_LINKED_ORGANISATION": {
                  "format": "int64",
                  "type": "integer"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "VISIBLE_TO": {
                  "type": "string"
                },
                "VISIBLE_TEAM_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "VISIBLE_USER_IDS": {
                  "type": "string"
                },
                "CUSTOMFIELDS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APICustomField"
                  }
                },
                "ADDRESSES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIAddress"
                  }
                },
                "CONTACTINFOS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactInfo"
                  }
                },
                "DATES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactDate"
                  }
                },
                "TAGS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APITag"
                  }
                },
                "LINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APILink"
                  }
                },
                "CONTACTLINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactLink"
                  }
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                },
                "SOCIAL_LINKEDIN": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_FACEBOOK": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_TWITTER": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ASSISTANT_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Contact",
        "description": "If you have trouble with creating a contact, try creating contacts via the web interface, and then access those contacts via the API. This way you            can see examples of the fields and sub-elements attached to the object. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.",
        "operationId": "AddContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "apiContact",
            "in": "body",
            "description": "The Contact to add (just include the JSON object as the request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContact"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact added.",
            "schema": {
              "title": "Contact",
              "type": "object",
              "properties": {
                "CONTACT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SALUTATION": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "FIRST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "LAST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BACKGROUND": {
                  "maxLength": 4000,
                  "minLength": 0,
                  "type": "string"
                },
                "IMAGE_URL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DEFAULT_LINKED_ORGANISATION": {
                  "format": "int64",
                  "type": "integer"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "VISIBLE_TO": {
                  "type": "string"
                },
                "VISIBLE_TEAM_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "VISIBLE_USER_IDS": {
                  "type": "string"
                },
                "CUSTOMFIELDS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APICustomField"
                  }
                },
                "ADDRESSES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIAddress"
                  }
                },
                "CONTACTINFOS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactInfo"
                  }
                },
                "DATES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactDate"
                  }
                },
                "TAGS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APITag"
                  }
                },
                "LINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APILink"
                  }
                },
                "CONTACTLINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactLink"
                  }
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                },
                "SOCIAL_LINKEDIN": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_FACEBOOK": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_TWITTER": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ASSISTANT_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "402": {
            "description": "Record limit reached."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a Contact",
        "description": "",
        "operationId": "GetContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "title": "Contact",
              "type": "object",
              "properties": {
                "CONTACT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SALUTATION": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "FIRST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "LAST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BACKGROUND": {
                  "maxLength": 4000,
                  "minLength": 0,
                  "type": "string"
                },
                "IMAGE_URL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DEFAULT_LINKED_ORGANISATION": {
                  "format": "int64",
                  "type": "integer"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "VISIBLE_TO": {
                  "type": "string"
                },
                "VISIBLE_TEAM_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "VISIBLE_USER_IDS": {
                  "type": "string"
                },
                "CUSTOMFIELDS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APICustomField"
                  }
                },
                "ADDRESSES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIAddress"
                  }
                },
                "CONTACTINFOS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactInfo"
                  }
                },
                "DATES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactDate"
                  }
                },
                "TAGS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APITag"
                  }
                },
                "LINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APILink"
                  }
                },
                "CONTACTLINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactLink"
                  }
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                },
                "SOCIAL_LINKEDIN": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_FACEBOOK": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_TWITTER": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ASSISTANT_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Contact",
        "description": "",
        "operationId": "DeleteContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Image": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a Contact's Image",
        "description": "",
        "operationId": "GetImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded."
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Contact's Image",
        "description": "",
        "operationId": "DeleteImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Image/{filename}": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Contact's Image",
        "description": "This action will replace any existing Image attached to the Contact. The contents of the image data should be sent as binary data in the request payload. See our <a href=\"http://github.com/Insightly\" target=\"_blank\">client libraries</a> for an example of how this is done.",
        "operationId": "UpdateImage",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Name of Image File to be attached to Contact",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "body",
            "description": "File to upload",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Image updated.",
            "schema": {
              "title": "Contact",
              "type": "object",
              "properties": {
                "CONTACT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SALUTATION": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "FIRST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "LAST_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "BACKGROUND": {
                  "maxLength": 4000,
                  "minLength": 0,
                  "type": "string"
                },
                "IMAGE_URL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DEFAULT_LINKED_ORGANISATION": {
                  "format": "int64",
                  "type": "integer"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "VISIBLE_TO": {
                  "type": "string"
                },
                "VISIBLE_TEAM_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "VISIBLE_USER_IDS": {
                  "type": "string"
                },
                "CUSTOMFIELDS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APICustomField"
                  }
                },
                "ADDRESSES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIAddress"
                  }
                },
                "CONTACTINFOS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactInfo"
                  }
                },
                "DATES": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactDate"
                  }
                },
                "TAGS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APITag"
                  }
                },
                "LINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APILink"
                  }
                },
                "CONTACTLINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIContactLink"
                  }
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                },
                "SOCIAL_LINKEDIN": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_FACEBOOK": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "SOCIAL_TWITTER": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "ASSISTANT_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "402": {
            "description": "Storage limit reached."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          },
          "417": {
            "description": "Image update failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Addresses": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates an Address",
        "operationId": "UpdateAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiAddress",
            "in": "body",
            "description": "The Address to update (just include the JSON object as the request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address updated.",
            "schema": {
              "title": "Address",
              "required": [
                "ADDRESS_TYPE"
              ],
              "type": "object",
              "properties": {
                "ADDRESS_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "ADDRESS_TYPE": {
                  "type": "string"
                },
                "STREET": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "CITY": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "STATE": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "POSTCODE": {
                  "maxLength": 128,
                  "minLength": 0,
                  "type": "string"
                },
                "COUNTRY": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Address not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds an Address",
        "description": "Limited to two addresses, one Mailing Address and one Other Address. For more information, please refer to Body Schema.",
        "operationId": "AddAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiAddress",
            "in": "body",
            "description": "The Address to add (just include JSON object as request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAddress"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Address added.",
            "schema": {
              "title": "Address",
              "required": [
                "ADDRESS_TYPE"
              ],
              "type": "object",
              "properties": {
                "ADDRESS_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "ADDRESS_TYPE": {
                  "type": "string"
                },
                "STREET": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "CITY": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "STATE": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "POSTCODE": {
                  "maxLength": 128,
                  "minLength": 0,
                  "type": "string"
                },
                "COUNTRY": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Addresses/{addressId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes an Address",
        "operationId": "DeleteAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "An Address' ID (ADDRESS_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Address not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/ContactInfos": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Contact Info",
        "operationId": "UpdateContactInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiContactInfo",
            "in": "body",
            "description": "The Contact Info to add (just include the JSON object in the request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContactInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact Info updated.",
            "schema": {
              "title": "ContactInfo",
              "required": [
                "TYPE",
                "DETAIL"
              ],
              "type": "object",
              "properties": {
                "CONTACT_INFO_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "TYPE": {
                  "type": "string"
                },
                "SUBTYPE": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "LABEL": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "DETAIL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Contact Info not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Contact Info",
        "description": "Limited to six Phone Numbers and one Email Address. For more information, please refer to Body Schema.",
        "operationId": "AddContactInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiContactInfo",
            "in": "body",
            "description": "The Contact Info to add (just include the JSON object in the request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContactInfo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact Info added.",
            "schema": {
              "title": "ContactInfo",
              "required": [
                "TYPE",
                "DETAIL"
              ],
              "type": "object",
              "properties": {
                "CONTACT_INFO_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "TYPE": {
                  "type": "string"
                },
                "SUBTYPE": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "LABEL": {
                  "maxLength": 50,
                  "minLength": 0,
                  "type": "string"
                },
                "DETAIL": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/ContactInfos/{contactInfoId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Contact Info",
        "operationId": "DeleteContactInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contactInfoId",
            "in": "path",
            "description": "A Contact Info's ID (CONTAC_INFO_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Contact Info not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Dates": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Contact Date",
        "operationId": "UpdateDate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiContactDate",
            "in": "body",
            "description": "The Contact Date to add (just include the JSON object as request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContactDate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Date updated.",
            "schema": {
              "title": "ContactDate",
              "type": "object",
              "properties": {
                "DATE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "OCCASION_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "OCCASION_DATE": {
                  "format": "date-time",
                  "type": "string"
                },
                "REPEAT_YEARLY": {
                  "type": "boolean"
                },
                "CREATE_TASK_YEARLY": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Date not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Contact Date",
        "operationId": "AddDate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiContactDate",
            "in": "body",
            "description": "The Contact Date to add (just include JSON object as request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIContactDate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Date added.",
            "schema": {
              "title": "ContactDate",
              "type": "object",
              "properties": {
                "DATE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "OCCASION_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "OCCASION_DATE": {
                  "format": "date-time",
                  "type": "string"
                },
                "REPEAT_YEARLY": {
                  "type": "boolean"
                },
                "CREATE_TASK_YEARLY": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Dates/{dateId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Contact Date",
        "operationId": "DeleteDate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dateId",
            "in": "path",
            "description": "A Contact Date's ID (DATE_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Date not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/CustomFields": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Custom Field",
        "operationId": "UpdateCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiCustomField",
            "in": "body",
            "description": "The Custom Field to edit (just include JSON object as request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APICustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom Field updated.",
            "schema": {
              "title": "CustomField",
              "type": "object",
              "properties": {
                "CUSTOM_FIELD_ID": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "FIELD_VALUE": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Custom Field not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/CustomFields/{customFieldId}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Custom Field",
        "operationId": "DeleteCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "customFieldId",
            "in": "path",
            "description": "A Custom Field's ID (CUSTOM_FIELD_ID)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Custom Field not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Tags": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Tag",
        "operationId": "AddTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiTag",
            "in": "body",
            "description": "The Tag to add (just include the JSON object as the request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APITag"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Tag added.",
            "schema": {
              "title": "Tag",
              "type": "object",
              "properties": {
                "TAG_NAME": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Tags/{tagName}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a Tag",
        "operationId": "DeleteTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "A Tag's name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete succeeded."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Tag not found."
          },
          "417": {
            "description": "Delete failed."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Events": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a Contact's Events",
        "operationId": "GetEvents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "updated_after_utc",
            "in": "query",
            "description": "Optional, earliest date when event was last updated.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of events to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of events to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "brief",
            "in": "query",
            "description": "true if only top level properties needs to be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "CalendarEvent",
                "required": [
                  "TITLE",
                  "START_DATE_UTC",
                  "END_DATE_UTC"
                ],
                "type": "object",
                "properties": {
                  "EVENT_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "TITLE": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "LOCATION": {
                    "maxLength": 255,
                    "minLength": 0,
                    "type": "string"
                  },
                  "DETAILS": {
                    "maxLength": 4000,
                    "minLength": 0,
                    "type": "string"
                  },
                  "START_DATE_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "END_DATE_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "ALL_DAY": {
                    "type": "boolean"
                  },
                  "PUBLICLY_VISIBLE": {
                    "type": "boolean"
                  },
                  "REMINDER_DATE_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "REMINDER_SENT": {
                    "type": "boolean"
                  },
                  "EVENTLINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APIEventLink"
                    }
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "DATE_CREATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "DATE_UPDATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "CAN_EDIT": {
                    "type": "boolean"
                  },
                  "CAN_DELETE": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Notes": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Gets a Contact's Notes",
        "operationId": "GetNotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "updated_after_utc",
            "in": "query",
            "description": "Optional, earliest date when note was last updated.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Optional, maximum number of notes to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Optional, number of notes to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "brief",
            "in": "query",
            "description": "true if only top level properties needs to be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "count_total",
            "in": "query",
            "description": "true if total number of records should be returned in the response headers.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "title": "Note",
                "required": [
                  "TITLE",
                  "LINK_SUBJECT_ID",
                  "LINK_SUBJECT_TYPE"
                ],
                "type": "object",
                "properties": {
                  "NOTE_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "TITLE": {
                    "maxLength": 500,
                    "minLength": 0,
                    "type": "string"
                  },
                  "BODY": {
                    "type": "string"
                  },
                  "LINK_SUBJECT_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "LINK_SUBJECT_TYPE": {
                    "type": "string"
                  },
                  "OWNER_USER_ID": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "DATE_CREATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "DATE_UPDATED_UTC": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "VISIBLE_TO": {
                    "type": "string"
                  },
                  "VISIBLE_TEAM_ID": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "VISIBLE_USER_IDS": {
                    "type": "string"
                  },
                  "NOTELINKS": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/APINoteLink"
                    }
                  },
                  "CAN_EDIT": {
                    "type": "boolean"
                  },
                  "CAN_DELETE": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Often missing or invalid parameter."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Note to a Contact",
        "operationId": "AddNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiNote",
            "in": "body",
            "description": "The Note to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APINote"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Note added.",
            "schema": {
              "title": "Note",
              "required": [
                "TITLE",
                "LINK_SUBJECT_ID",
                "LINK_SUBJECT_TYPE"
              ],
              "type": "object",
              "properties": {
                "NOTE_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "TITLE": {
                  "maxLength": 500,
                  "minLength": 0,
                  "type": "string"
                },
                "BODY": {
                  "type": "string"
                },
                "LINK_SUBJECT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "LINK_SUBJECT_TYPE": {
                  "type": "string"
                },
                "OWNER_USER_ID": {
                  "format": "int32",
                  "type": "integer"
                },
                "DATE_CREATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "DATE_UPDATED_UTC": {
                  "format": "date-time",
                  "type": "string"
                },
                "VISIBLE_TO": {
                  "type": "string"
                },
                "VISIBLE_TEAM_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "VISIBLE_USER_IDS": {
                  "type": "string"
                },
                "NOTELINKS": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APINoteLink"
                  }
                },
                "CAN_EDIT": {
                  "type": "boolean"
                },
                "CAN_DELETE": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "402": {
            "description": "Record limit reached."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact not found."
          }
        },
        "deprecated": false
      }
    },
    "/Contacts/{id}/Links": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a Link",
        "operationId": "UpdateLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "apiLink",
            "in": "body",
            "description": "The Link to add (just include JSON object as request body)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APILink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link updated.",
            "schema": {
              "title": "Link",
              "type": "object",
              "properties": {
                "LINK_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "CONTACT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "OPPORTUNITY_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "ORGANISATION_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "PROJECT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SECOND_PROJECT_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "SECOND_OPPORTUNITY_ID": {
                  "format": "int64",
                  "type": "integer"
                },
                "ROLE": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                },
                "DETAILS": {
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Data validation error."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "API User does not have access to Contact."
          },
          "404": {
            "description": "Contact or Link not found."
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a Link",
        "operationId": "AddLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A Contact's ID (CONTACT_ID)",
            "required": true,
[...]
